.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
.idea/workspace.xml
.idea/dataSources/
.idea/artifacts/
.idea/dataSources.local.xml
.idea/dataSources.xml
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
.idea
/.idea/dbnavigator.xml
/.idea/encodings.xml
/.idea/uiDesigner.xml
/.idea/gradle.xml
/.idea/vcs.xml
!/.idea/dataSources/
!/server-submodule/.idea/
/finmate-key.pem
!/server-submodule/.idea/

!/.gitattributes

# IntelliJ 설정 무시
.idea/

# 민감 키 파일 무시
*.pem

.env
/finmate-key.pub
