<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.scoula.wmti.Mapper.SurveyResultMapper">

    <!-- 결과 저장 -->
    <insert id="insertSurveyResult" parameterType="org.scoula.wmti.entity.SurveyResult" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO wmti_profile (
            member_id,
            wmti_code,
            wmti_id,
            answers_json,
            submitted_at
        ) VALUES (
                     #{userId},
                     #{wmtiCode},
                     #{answersJson},
                     #{submittedAt}
                 )
    </insert>

</mapper>