<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.scoula.wmti.mapper.WMTIHistoryMapper">
    <!-- 결과 매핑 -->
    <resultMap id="WMTIHistoryMap" type="org.scoula.wmti.entity.WMTIHistory">
        <id property="historyId" column="history_id"/>
        <result property="memberId" column="member_id"/>
        <result property="resultType" column="result_type"/>
        <result property="riskPreference" column="risk_preference"/>
        <result property="answersJson" column="answers_json"/>
        <result property="aScore" column="a_score"/>
        <result property="iScore" column="i_score"/>
        <result property="pScore" column="p_score"/>
        <result property="bScore" column="b_score"/>
        <result property="mScore" column="m_score"/>
        <result property="wScore" column="w_score"/>
        <result property="lScore" column="l_score"/>
        <result property="cScore" column="c_score"/>
        <result property="wmtiCode" column="wmti_code"/>
        <result property="a" column="AvsI"/>
        <result property="p" column="PvsB"/>
        <result property="m" column="MvsW"/>
        <result property="l" column="LvsC"/>
        <result property="createdAt" column="created_at"/>
    </resultMap>

    <!-- 설문 이력 저장 -->
    <insert id="saveWMTIHistory" parameterType="org.scoula.wmti.entity.WMTIHistory"
            useGeneratedKeys="true" keyProperty="historyId">
        INSERT INTO wmti_history (
            member_id,
            result_type,
            risk_preference,
            answers_json,
            a_score,
            i_score,
            p_score,
            b_score,
            m_score,
            w_score,
            l_score,
            c_score,
            wmti_code,
            a, p, m, l,
            created_at
        ) VALUES (
                     #{memberId},
                     #{resultType},
                     #{riskPreference},
                     #{answersJson},
                     #{aScore},
                     #{iScore},
                     #{pScore},
                     #{bScore},
                     #{mScore},
                     #{wScore},
                     #{lScore},
                     #{cScore},
                     #{wmtiCode},
                     #{A}, #{P}, #{M}, #{L},
                     #{createdAt}
                 )
    </insert>

    <!-- 사용자 ID로 설문 이력 조회 (최근1개)-->
    <!-- 단일 이력 조회 -->
    <select id="findByHistoryId" resultMap="WMTIHistoryMap">
        SELECT *
        FROM wmti_history
        WHERE history_id = #{historyId}
    </select>

    <!--사용자 ID로 모든 설문이력조회 (전체 리스트)    -->
    <select id="findAllByMemberId" resultMap="WMTIHistoryMap">
        SELECT *
        FROM wmti_history
        WHERE member_id = #{memberId}
        ORDER BY created_at DESC
    </select>

    <!-- 설문 이력 삭제 -->
    <delete id="deleteByHistoryId" parameterType="long">
        DELETE FROM wmti_history
        WHERE history_id = #{historyId};
    </delete>
</mapper>
