<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeAliases>
        <package name="org.scoula.security.account.domain"/>
    </typeAliases>
    <typeHandlers>
        <typeHandler handler="org.scoula.community.board.handler.BoardTypeHandler" />
        <typeHandler handler="org.scoula.community.post.handler.PostStatusTypeHandler"/>
        <typeHandler handler="org.scoula.community.post.handler.ProductTagHandler"/>

    </typeHandlers>
    <mappers>
        <package name="org.scoula.security.account.mapper"/>
        <package name="org.scoula.member.mapper"/>
        <package name="org.scoula.auth.mapper"/>
    </mappers>
</configuration>
