<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.scoula.mypage.mapper.ViewedProductMapper">

    <delete id="deleteExistingViewedProduct">
        DELETE FROM viewed_product
        WHERE member_id = #{memberId}
          AND product_id = #{productId}
          AND (save_trm = #{saveTrm} OR (save_trm IS NULL AND #{saveTrm} IS NULL))
          AND (rsrv_type = #{rsrvType} OR (rsrv_type IS NULL AND #{rsrvType} IS NULL))
    </delete>

    <insert id="insertViewedProduct">
        INSERT INTO viewed_product (member_id, product_id, save_trm, rsrv_type, viewed_at)
        VALUES (#{memberId}, #{productId}, #{saveTrm}, #{rsrvType}, NOW())
    </insert>
    <select id="selectRecentViewedProducts" resultType="org.scoula.mypage.dto.ViewedProductResponseDTO">
        SELECT
            fp.product_id AS productId,
            fp.product_name AS productName,
            fp.kor_co_nm AS korCoNm,
            pc.name AS categoryName,
            psc.name AS subcategoryName,
            fp.external_link AS externalLink,
            fp.wishlist_count AS wishlistCount,
            dopt.intr_rate2 AS maxRate,
            DATE_FORMAT(vp.viewed_at, '%Y-%m-%d %H:%i:%s') AS viewedAt
        FROM viewed_product vp
                 JOIN financial_product fp ON vp.product_id = fp.product_id
                 LEFT JOIN product_category pc ON fp.category_id = pc.category_id
                 LEFT JOIN product_subcategory psc ON fp.subcategory_id = psc.subcategory_id
                 LEFT JOIN deposit_option dopt
                           ON dopt.product_id = fp.product_id
                               AND dopt.save_trm = vp.save_trm
                               AND (
                                  vp.rsrv_type IS NULL AND dopt.rsrv_type IS NULL
                                      OR vp.rsrv_type IS NOT NULL AND dopt.rsrv_type = vp.rsrv_type
                                  )
                 LEFT JOIN pension_product pp ON pp.product_id = fp.product_id

        WHERE vp.member_id = #{memberId}
        ORDER BY vp.viewed_at DESC
        LIMIT 20
    </select>

    <delete id="deleteViewedProduct">
        DELETE FROM viewed_product
        WHERE member_id = #{memberId} AND product_id = #{productId}
    </delete>

    <delete id="deleteAllViewedProducts">
        DELETE FROM viewed_product
        WHERE member_id = #{memberId}
    </delete>


</mapper>
