<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.scoula.preinfo.mapper.PreInfoMapper">

    <!-- ResultMap -->
    <resultMap id="PreInfoResultMap" type="org.scoula.preinfo.entity.PreInformation">
        <id property="preInfoId" column="preinfo_id"/>
        <result property="memberId" column="member_id"/>
        <result property="username" column="username"/>
        <result property="age" column="age"/>
        <result property="monthlyIncome" column="monthly_income"/>
        <result property="fixedCost" column="fixed_cost"/>
        <result property="period" column="period"/>
        <result property="purpose" column="purpose"/>
        <result property="purposeCategory" column="purpose_category"/>
        <result property="surplusAmount" column="surplus_amount"/>
        <result property="savingsRate" column="saving_rate"/>
        <result property="financialHealthScore" column="financial_health_score"/>
        <result property="investmentCapacity" column="investment_capacity"/>
        <result property="recommendedMonthlyInvestment" column="recommended_monthly_investment"/>
        <result property="resultType" column="result_type"/>
        <result property="riskPreference" column="risk_preference"/>
        <result property="platform" column="platform"/>
        <result property="userAgent" column="user_agent"/>
        <result property="screenSize" column="screen_size"/>
        <result property="createdAt" column="created_at"/>
    </resultMap>

    <!-- INSERT 사용자 프로필 -->
    <insert id="insertPreInfo" parameterType="org.scoula.preinfo.entity.PreInformation">
        INSERT INTO pre_info (
            preinfo_id, member_id, username, age, monthly_income, fixed_cost, period, purpose, purpose_category,
            surplus_amount, saving_rate, financial_health_score, investment_capacity, recommended_monthly_investment,
            result_type, risk_preference,
            platform, user_agent, screen_size, created_at
        ) VALUES (
                     #{preInfoId}, #{memberId}, #{username}, #{age}, #{monthlyIncome}, #{fixedCost}, #{period.label}, #{purpose}, #{purposeCategory.label},
                     #{surplusAmount}, #{savingsRate}, #{financialHealthScore}, #{investmentCapacity}, #{recommendedMonthlyInvestment},
                     #{resultType}, #{riskPreference.label},
                     #{platform}, #{userAgent}, #{screenSize}, #{createdAt}
                 )
    </insert>

    <!-- SELECT: memberId로 조회 -->
    <select id="findByMemberId" parameterType="long" resultType="org.scoula.preinfo.entity.PreInformation">
        SELECT * FROM pre_info WHERE member_id = #{memberId}
    </select>

    <!-- SELECT by preInfoId -->
    <select id="findByPreInfoId" parameterType="string" resultMap="PreInfoResultMap">
        SELECT * FROM pre_info WHERE preinfo_id = #{preInfoId}
    </select>

    <!-- UPDATE: 사용자가 이미 제출한 경우, 최신화처리-->
    <update id="updatePreInfo" parameterType="org.scoula.preinfo.entity.PreInformation">
        UPDATE pre_info
        SET
            username = #{username},
            age = #{age},
            monthly_income = #{monthlyIncome},
            fixed_cost = #{fixedCost},
            period = #{period.label},
            purpose = #{purpose},
            purpose_category = #{purposeCategory.label},
            surplus_amount = #{surplusAmount},
            saving_rate = #{savingsRate},
            financial_health_score = #{financialHealthScore},
            investment_capacity = #{investmentCapacity},
            recommended_monthly_investment = #{recommendedMonthlyInvestment},
            result_type = #{resultType},
            risk_preference = #{riskPreference.label},
            platform = #{platform},
            user_agent = #{userAgent},
            screen_size = #{screenSize},
            created_at = #{createdAt}
        WHERE
            member_id = #{memberId}
    </update>

</mapper>
